<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Test</title>
</head>

<body>
<form action="/">
 <input type="number" id="first_operand" name="f">
 <select size="3" name="o">
  <option selected value="add">+</option>
  <option value="sub">-</option>
  <option value="mul">*</option>
  <option value="truediv">/</option>
 </select>
 <input type="number" id="second_operand" name="s">
 <p><input type="submit"></p>
</form>

{% if result %}
  <p>Your result: {{result}}</p>
{% endif %}
</body>
</html>
